.h1{
    position:relative; 
    font-weight: bold;
    font-size: 40px;
}

.image1{
    width: 1300px;
    height: 400px;
    position: sticky;
    vertical-align: text-bottom; 
}

.contenedor{
    position: relative;
    display: inline-block;
}

.texto-encima{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; width: 100%;
    color: white;
}

.indice1{
    position: relative; left: 390px;
    padding: 3px 3px; 
    background-color:greenyellow; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indice2{
    position: relative; left: 390px;
    padding: 3px 3px; 
    background-color:greenyellow; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indice3{
    position: relative; left: 390px;
    padding: 3px 3px; 
    background-color:greenyellow; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

.indices{
    position: relative; left: 390px;
    padding: 3px 3px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-transform: uppercase;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

div.seccion{
    position: relative; left: 600px;
    top: -140px;
    width: 960px;
    height: 380px;
    padding: 5px;
    text-align: justify;
}

.left{
    position: relative; left: 302px;
    top: 30px;
}

body {font-family: Arial, Helvetica, sans-serif;}

table {   
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

.div.p{
    font-weight: italic;
}
